In [77]:
import tabula
import PyPDF2
import re
import pandas as pd

In [25]:
ls

Clustering_with_Solver.xlsx  champ2_mentee.xlsx
EDA.ipynb                    champ2_openhouse.xlsx
PDF Extraction.ipynb         champ3_app.xlsx
alldata.xlsx                 champ3_openhouse.xlsx
champ1_app.xlsx              freshgrad_jobseek_2018.pdf
champ1_mentee.xlsx           init.twb
champ1_openhouse.xlsx        pickle.dat
champ2_app.xlsx

In [27]:
filename = 'freshgrad_jobseek_2018.pdf'

In [58]:
reader = PyPDF2.PdfFileReader(filename)
n = reader.getNumPages()

df = []
for page in [str(i+1) for i in range(n)]:
    df.append(tabula.read_pdf(filename, pages = page))

In [59]:
# Use only table containing Bachelor's degree number (the first two)

# The first
df[0].head()

,สําขําวิชํา,Unnamed: 1,ทํางํานแล้ว,ทํางํานแล้วและ,รวมได้งํานทํา,ยังไม่ได้ทํางําน,กําลังศึกษําต่อ,รวมบัณฑิตท,บัณฑิตทส่ําเรจ,รอยละของ
0,NaN,NaN,NaN,กําลังศึกษําต่อ,NaN,NaN,NaN,กรอกแบบ,กํารศึกษํา,บัณฑิตทก่รอก
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,สํารวจ,ทง้หมด,แบบสํารวจ
2,คณะวิศวกรรมศาสตร,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ปรญิญําตร,NaN,453,5,458,316,86,860,899,95.7%
4,วิศวกรรมอากาศยาน,NaN,11,0,11,16,2,29,32,90.6%

In [60]:
# Rename columns
df[0].columns = ['Department', 'Unused_1', 'Working', 
                 'Working and Study', 'Total Working', 'Vacant', 
                 'Study', 'Filled In Grads','Total Grads', 
                 'Filled In Portion']

df[0].drop(['Unused_1'], axis = 1, inplace = True)

df[0] = df[0].iloc[[((i + 1) * 2) for i in range(1, 12)]]

In [64]:
df[0].reset_index(drop = True, inplace = True)
df[0].head()

,Department,Working,Working and Study,Total Working,Vacant,Study,Filled In Grads,Total Grads,Filled In Portion
0,วิศวกรรมอากาศยาน,11,0,11,16,2,29,32,90.6%
1,วิศวกรรมสารสนเทศและการส่ือสาร,35,0,35,16,7,58,59,98.3%
2,วิศวกรรมนาโน,22,0,22,20,5,47,48,97.9%
3,วิศวกรรมการออกแบบและการผลิตยานยนต์,26,1,27,11,5,43,49,87.8%
4,วิศวกรรมโยธา,39,2,41,48,7,96,102,94.1%

In [72]:
df[1].head(20)

,Unnamed: 0,สําขําวิชํา,Unnamed: 2,ทํางํานแล้ว,ทํางํานแล้วและ,รวมได้งํานทํา,ยังไม่ได้ทํางําน,กําลังศึกษําต่อ,รวมบัณฑิตท,บัณฑิตทส่ําเรจ,รอยละของ
0,NaN,NaN,NaN,NaN,กําลังศึกษําต่อ,NaN,NaN,NaN,กรอกแบบ,กํารศึกษํา,บัณฑิตทก่รอก
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,สํารวจ,ทง้หมด,แบบสํารวจ
2,NaN,วิศวกรรมปิโตรเลียม,NaN,10,0,10,0,0,10,10,100.0%
3,NaN,NaN,NaN,100.0%,0.0%,100.0%,0.0%,0.0%,NaN,NaN,NaN
4,NaN,วิศวกรรมทรัพยากรธรณี,NaN,7,0,7,9,3,19,21,90.5%
5,NaN,NaN,NaN,36.8%,0.0%,36.8%,47.4%,15.8%,NaN,NaN,NaN
6,NaN,วิศวกรรมส่ิงแวดล้อม,NaN,14,0,14,23,1,38,39,97.4%
7,NaN,NaN,NaN,36.8%,0.0%,36.8%,60.5%,2.6%,NaN,NaN,NaN
8,NaN,วิศวกรรมสารวจ,NaN,7,0,7,10,5,22,25,88.0%
9,NaN,NaN,NaN,31.8%,0.0%,31.8%,45.5%,22.7%,NaN,NaN,NaN
10,NaN,วิศวกรรมโลหการและวัสดุ,NaN,15,0,15,8,2,25,25,100.0%
11,NaN,NaN,NaN,60.0%,0.0%,60.0%,32.0%,8.0%,NaN,NaN,NaN
12,NaN,วิศวกรรมคอมพิวเตอร์,NaN,71,2,73,22,15,110,115,95.7%
13,NaN,NaN,NaN,64.5%,1.8%,66.4%,20.0%,13.6%,NaN,NaN,NaN
14,ปรญิญําโท,NaN,NaN,178,3,181,120,20,321,341,94.1%
15,NaN,วิศวกรรมชีวเวช,NaN,4,0,4,0,0,4,4,100.0%
16,NaN,NaN,NaN,100.0%,0.0%,100.0%,0.0%,0.0%,NaN,NaN,NaN
17,NaN,วิศวกรรมและเทคโนโลยีการป้องกันประเทศ,NaN,3,0,3,1,0,4,5,80.0%
18,NaN,NaN,NaN,75.0%,0.0%,75.0%,25.0%,0.0%,NaN,NaN,NaN
19,NaN,วิศวกรรมโยธา,NaN,27,0,27,16,3,46,50,92.0%

In [73]:
df[1].columns = ['Unused_1', 'Department', 'Unused_2', 'Working', 
                 'Working and Study', 'Total Working', 'Vacant', 
                 'Study', 'Filled In Grads','Total Grads', 
                 'Filled In Portion']

df[1].drop(['Unused_1', 'Unused_2'], axis = 1, inplace = True)
df[1].head()

,Department,Working,Working and Study,Total Working,Vacant,Study,Filled In Grads,Total Grads,Filled In Portion
0,NaN,NaN,กําลังศึกษําต่อ,NaN,NaN,NaN,กรอกแบบ,กํารศึกษํา,บัณฑิตทก่รอก
1,NaN,NaN,NaN,NaN,NaN,NaN,สํารวจ,ทง้หมด,แบบสํารวจ
2,วิศวกรรมปิโตรเลียม,10,0,10,0,0,10,10,100.0%
3,NaN,100.0%,0.0%,100.0%,0.0%,0.0%,NaN,NaN,NaN
4,วิศวกรรมทรัพยากรธรณี,7,0,7,9,3,19,21,90.5%

In [75]:
#df[1] = df[1].iloc[[2,4,6,8,10,12]]
df[1].reset_index(drop = True, inplace = True)
df[1]

,Department,Working,Working and Study,Total Working,Vacant,Study,Filled In Grads,Total Grads,Filled In Portion
0,วิศวกรรมปิโตรเลียม,10,0,10,0,0,10,10,100.0%
1,วิศวกรรมทรัพยากรธรณี,7,0,7,9,3,19,21,90.5%
2,วิศวกรรมส่ิงแวดล้อม,14,0,14,23,1,38,39,97.4%
3,วิศวกรรมสารวจ,7,0,7,10,5,22,25,88.0%
4,วิศวกรรมโลหการและวัสดุ,15,0,15,8,2,25,25,100.0%
5,วิศวกรรมคอมพิวเตอร์,71,2,73,22,15,110,115,95.7%

In [90]:
# Concatenate two dataframes
final_table = pd.concat([df[0], df[1]], ignore_index=True)
final_table.head()

,Department,Working,Working and Study,Total Working,Vacant,Study,Filled In Grads,Total Grads,Filled In Portion
0,วิศวกรรมอากาศยาน,11,0,11,16,2,29,32,90.6%
1,วิศวกรรมสารสนเทศและการส่ือสาร,35,0,35,16,7,58,59,98.3%
2,วิศวกรรมนาโน,22,0,22,20,5,47,48,97.9%
3,วิศวกรรมการออกแบบและการผลิตยานยนต์,26,1,27,11,5,43,49,87.8%
4,วิศวกรรมโยธา,39,2,41,48,7,96,102,94.1%

In [91]:
final_table

,Department,Working,Working and Study,Total Working,Vacant,Study,Filled In Grads,Total Grads,Filled In Portion
0,วิศวกรรมอากาศยาน,11,0,11,16,2,29,32,90.6%
1,วิศวกรรมสารสนเทศและการส่ือสาร,35,0,35,16,7,58,59,98.3%
2,วิศวกรรมนาโน,22,0,22,20,5,47,48,97.9%
3,วิศวกรรมการออกแบบและการผลิตยานยนต์,26,1,27,11,5,43,49,87.8%
4,วิศวกรรมโยธา,39,2,41,48,7,96,102,94.1%
5,วิศวกรรมไฟฟ้า,62,0,62,45,6,113,118,95.8%
6,วิศวกรรมเคร่ืองกล,36,0,36,27,11,74,76,97.4%
7,วิศวกรรมยานยนต์,11,0,11,5,2,18,19,94.7%
8,วิศวกรรมเรือ,1,0,1,2,1,4,4,100.0%
9,วิศวกรรมอุตสาหการ,60,0,60,23,1,84,85,98.8%
10,วิศวกรรมเคม,26,0,26,31,13,70,72,97.2%
11,วิศวกรรมปิโตรเลียม,10,0,10,0,0,10,10,100.0%
12,วิศวกรรมทรัพยากรธรณี,7,0,7,9,3,19,21,90.5%
13,วิศวกรรมส่ิงแวดล้อม,14,0,14,23,1,38,39,97.4%
14,วิศวกรรมสารวจ,7,0,7,10,5,22,25,88.0%
15,วิศวกรรมโลหการและวัสดุ,15,0,15,8,2,25,25,100.0%
16,วิศวกรรมคอมพิวเตอร์,71,2,73,22,15,110,115,95.7%

In [92]:
final_table.to_csv('after_grad_status_2018.csv', index = False)